<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections></configSections>
    <connectionStrings>
        <add name="AMETAP.Properties.Settings.ch" connectionString="Provider=MSDAORA;Data Source=localhost;Password=informatique;User ID=AMETAP"
            providerName="System.Data.OleDb" 
	/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
